
.controls {

    padding: 1.4rem 0 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.board-button {

    padding: 0.8rem 1.5rem;
    min-width: 200px;
    font-size: 1.4rem;
    border-radius: 20px;
}

.board-button[disabled] {

    opacity: .6;
    cursor: not-allowed;
}

.board-button.board-button--new {

    background-color: #edd140;
    color: #684d0a;
    border: 3px solid #816d23;
    box-shadow:
            3px 2px 5px 1px #844716,
            3px 3px 1px #864512,
            0px 1px 0px 0px #774116,
            2px 2px 4px 1px #774116
}

.board-button.board-button--new:hover,
.board-button.board-button--new:active {
    background-color: #d3bb38;
}



.board-button.board-button--hit {

    background-color: #5bff3a;
    border: 3px solid #4cde2e;
    box-shadow:
            3px 3px 2px 0px #266c18,
            1px 2px 1px #266c18,
            0px 1px 0px 0px #266c18,
            2px 2px 4px 1px #266c18
}

.board-button.board-button--hit:hover,
.board-button.board-button--hit:active {
    background-color: #54ec36;
}



.board-button.board-button--stand {

    background-color: #ff5033;
    border: 3px solid #bd3a22;
    color: #530505;
    box-shadow:
            3px 3px 2px 0px #903526,
            1px 2px 1px #903526,
            0px 1px 0px 0px #903526,
            6px 6px 6px 3px #3f10106b
}

.board-button.board-button--stand:hover,
.board-button.board-button--stand:active {
    background-color: #ec4a2f;
}
