:root {

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.87);


}

html {

    font-size: 14px;

}

body {

    display: block;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #163c30;
    position: absolute;
}

.bg-img {

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.hidden {

    display: none !important;

}

.blackjack {

    position: relative;
}


.blackjack .navbar {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0 15px;

}

.blackjack .navbar .brand {

    font-size: 1rem;
    font-weight: bold;
    flex-grow: 0;
}


.screen {

    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

}

