.screen.screen__init {

    justify-content: center;
    align-items: center;

}

.screen.screen__init .heading {

    color: #edd140;
    font-size: 6rem;
    text-align: center;
    margin: 0 0 2rem 0;
    font-weight: 700;
    text-shadow:
        3px 4px 1px #774116,
        1px 2px 1px #774116,
        4px 4px 10px #774116,
    6px 9px 4px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);

}

.screen.screen__init .logo {

    width: 150px;
    margin-bottom: 4rem;

}
.screen.screen__init .logo > img {

    width: 100%;
    height: 100%;
}

.start-form {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.start-form input[type="text"] {

    font-size: 2rem;
    color: white;
    background-color: #2424247a;
    box-shadow: 1px 1px 3px 0px #00000096;
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 10px;
}
.start-form input[type="text"]::placeholder {
  color: #ffffff;
  opacity: .5; /* Firefox */
}

.start-form input[type="text"]:active,
.start-form input[type="text"]:focus {

    outline: none;
}


.start-form .start-button {

    margin-top: 4rem;
    background-color: #edd140;
    color: #684d0a;
    border: 3px solid #816d23;
    padding: 1rem 2rem;
    min-width: 200px;
    font-size: 2rem;
    border-radius: 20px;

    box-shadow:
        3px 4px 1px #774116,
        1px 2px 1px #774116,
        4px 4px 10px #774116,
        6px 9px 4px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4);

}

.start-form .start-button:hover {

    background-color: #d5bc39;
}

.start-form .start-button:active {

    background-color: #edd140;
}

.start-form .start-button[disabled] {

    opacity: .6;
    cursor: not-allowed;
}
